# Exercise 02 -  OLAP Cubes - CUBE

All the databases table in this demo are based on public database samples and transformations
- `Sakila` is a sample database created by `MySql` [Link](https://dev.mysql.com/doc/sakila/en/sakila-structure.html)
- The postgresql version of it is called `Pagila` [Link](https://github.com/devrimgunduz/pagila)
- The facts and dimension tables design is based on O'Reilly's public dimensional modelling tutorial schema [Link](http://archive.oreilly.com/oreillyschool/courses/dba3/index.html)

Start by connecting to the database by running the cells below. If you are coming back to this exercise, then uncomment and run the first cell to recreate the database. If you recently completed the slicing and dicing exercise, then skip to the second cell.

In [1]:
 !PGPASSWORD=student createdb -h 127.0.0.1 -U student pagila_star
 !PGPASSWORD=student psql -q -h 127.0.0.1 -U student -d pagila_star -f Data/pagila-star.sql

createdb: database creation failed: ERROR:  database "pagila_star" already exists
 set_config
------------

(1 row)

psql:Data/pagila-star.sql:41: ERROR:  type "mpaa_rating" already exists
psql:Data/pagila-star.sql:51: ERROR:  type "year" already exists
psql:Data/pagila-star.sql:68: ERROR:  function "_group_concat" already exists with same argument types
psql:Data/pagila-star.sql:85: ERROR:  function "film_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:102: ERROR:  function "film_not_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:147: ERROR:  function "get_customer_balance" already exists with same argument types
psql:Data/pagila-star.sql:169: ERROR:  function "inventory_held_by_customer" already exists with same argument types
psql:Data/pagila-star.sql:206: ERROR:  function "inventory_in_stock" already exists with same argument types
psql:Data/pagila-star.sql:224: ERROR:  function "last_day" already exists with same argument types
psql:Data/pagila-star.sql:239: ERROR:  function "last_updated" already exists with same argument types
psql:Data/pagila-star.sql:263: ERROR:  relation "customer" already exists
psql:Data/pagila-star.sql:327: ERROR:  function "rewards_report" already exists with same argument types
psql:Data/pagila-star.sql:339: ERROR:  function "group_concat" already exists with same argument types
psql:Data/pagila-star.sql:353: ERROR:  relation "actor_actor_id_seq" already exists
psql:Data/pagila-star.sql:367: ERROR:  relation "actor" already exists
psql:Data/pagila-star.sql:381: ERROR:  relation "category_category_id_seq" already exists
psql:Data/pagila-star.sql:394: ERROR:  relation "category" already exists
psql:Data/pagila-star.sql:408: ERROR:  relation "film_film_id_seq" already exists
psql:Data/pagila-star.sql:432: ERROR:  relation "film" already exists
psql:Data/pagila-star.sql:445: ERROR:  relation "film_actor" already exists
psql:Data/pagila-star.sql:458: ERROR:  relation "film_category" already exists
psql:Data/pagila-star.sql:481: ERROR:  relation "actor_info" already exists
psql:Data/pagila-star.sql:495: ERROR:  relation "address_address_id_seq" already exists
psql:Data/pagila-star.sql:513: ERROR:  relation "address" already exists
psql:Data/pagila-star.sql:527: ERROR:  relation "city_city_id_seq" already exists
psql:Data/pagila-star.sql:541: ERROR:  relation "city" already exists
psql:Data/pagila-star.sql:555: ERROR:  relation "country_country_id_seq" already exists
psql:Data/pagila-star.sql:568: ERROR:  relation "country" already exists
psql:Data/pagila-star.sql:582: ERROR:  relation "customer_customer_id_seq" already exists
psql:Data/pagila-star.sql:596: ERROR:  relation "customer_customer_id_seq1" already exists
psql:Data/pagila-star.sql:628: ERROR:  relation "customer_list" already exists
psql:Data/pagila-star.sql:654: ERROR:  relation "dimcustomer" already exists
psql:Data/pagila-star.sql:668: ERROR:  relation "dimcustomer_customer_key_seq" already exists
psql:Data/pagila-star.sql:693: ERROR:  relation "dimdate" already exists
psql:Data/pagila-star.sql:714: ERROR:  relation "dimmovie" already exists
psql:Data/pagila-star.sql:728: ERROR:  relation "dimmovie_movie_key_seq" already exists
psql:Data/pagila-star.sql:757: ERROR:  relation "dimstore" already exists
psql:Data/pagila-star.sql:771: ERROR:  relation "dimstore_store_key_seq" already exists
psql:Data/pagila-star.sql:794: ERROR:  relation "factsales" already exists
psql:Data/pagila-star.sql:808: ERROR:  relation "factsales_sales_key_seq" already exists
psql:Data/pagila-star.sql:838: ERROR:  relation "film_list" already exists
psql:Data/pagila-star.sql:852: ERROR:  relation "inventory_inventory_id_seq" already exists
psql:Data/pagila-star.sql:866: ERROR:  relation "inventory" already exists
psql:Data/pagila-star.sql:880: ERROR:  relation "language_language_id_seq" already exists
psql:Data/pagila-star.sql:893: ERROR:  relation "language" already exists
psql:Data/pagila-star.sql:916: ERROR:  relation "nicer_but_slower_film_list" already exists
psql:Data/pagila-star.sql:930: ERROR:  relation "payment_payment_id_seq" already exists
psql:Data/pagila-star.sql:946: ERROR:  relation "payment" already exists
psql:Data/pagila-star.sql:960: ERROR:  relation "rental_rental_id_seq" already exists
psql:Data/pagila-star.sql:977: ERROR:  relation "rental" already exists
psql:Data/pagila-star.sql:996: ERROR:  relation "sales_by_film_category" already exists
psql:Data/pagila-star.sql:1010: ERROR:  relation "staff_staff_id_seq" already exists
psql:Data/pagila-star.sql:1031: ERROR:  relation "staff" already exists
psql:Data/pagila-star.sql:1045: ERROR:  relation "store_store_id_seq" already exists
psql:Data/pagila-star.sql:1059: ERROR:  relation "store" already exists
psql:Data/pagila-star.sql:1081: ERROR:  relation "sales_by_store" already exists
psql:Data/pagila-star.sql:1102: ERROR:  relation "staff_list" already exists
psql:Data/pagila-star.sql:1347: ERROR:  duplicate key value violates unique constraint "actor_pkey"
DETAIL:  Key (actor_id)=(1) already exists.
CONTEXT:  COPY actor, line 1
 setval
--------
    200
(1 row)

psql:Data/pagila-star.sql:1965: ERROR:  duplicate key value violates unique constraint "address_pkey"
DETAIL:  Key (address_id)=(1) already exists.
CONTEXT:  COPY address, line 1
 setval
--------
    605
(1 row)

psql:Data/pagila-star.sql:1996: ERROR:  duplicate key value violates unique constraint "category_pkey"
DETAIL:  Key (category_id)=(1) already exists.
CONTEXT:  COPY category, line 1
 setval
--------
     16
(1 row)

psql:Data/pagila-star.sql:2611: ERROR:  duplicate key value violates unique constraint "city_pkey"
DETAIL:  Key (city_id)=(1) already exists.
CONTEXT:  COPY city, line 1
 setval
--------
    600
(1 row)

psql:Data/pagila-star.sql:2735: ERROR:  duplicate key value violates unique constraint "country_pkey"
DETAIL:  Key (country_id)=(1) already exists.
CONTEXT:  COPY country, line 1
 setval
--------
    109
(1 row)

psql:Data/pagila-star.sql:3349: ERROR:  duplicate key value violates unique constraint "customer_pkey"
DETAIL:  Key (customer_id)=(1) already exists.
CONTEXT:  COPY customer, line 1
 setval
--------
    599
(1 row)

 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:3970: ERROR:  duplicate key value violates unique constraint "dimcustomer_pkey"
DETAIL:  Key (customer_key)=(1) already exists.
CONTEXT:  COPY dimcustomer, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:4025: ERROR:  duplicate key value violates unique constraint "dimdate_pkey"
DETAIL:  Key (date_key)=(20170216) already exists.
CONTEXT:  COPY dimdate, line 1
psql:Data/pagila-star.sql:5033: ERROR:  duplicate key value violates unique constraint "dimmovie_pkey"
DETAIL:  Key (movie_key)=(1) already exists.
CONTEXT:  COPY dimmovie, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:5050: ERROR:  duplicate key value violates unique constraint "dimstore_pkey"
DETAIL:  Key (store_key)=(1) already exists.
CONTEXT:  COPY dimstore, line 1
 setval
--------
      1
(1 row)

psql:Data/pagila-star.sql:21114: ERROR:  duplicate key value violates unique constraint "factsales_pkey"
DETAIL:  Key (sales_key)=(1) already exists.
CONTEXT:  COPY factsales, line 1
 setval
--------
  16049
(1 row)

psql:Data/pagila-star.sql:22129: ERROR:  duplicate key value violates unique constraint "film_pkey"
DETAIL:  Key (film_id)=(1) already exists.
CONTEXT:  COPY film, line 1: "1	ACADEMY DINOSAUR	A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The C..."
psql:Data/pagila-star.sql:27599: ERROR:  duplicate key value violates unique constraint "film_actor_pkey"
DETAIL:  Key (actor_id, film_id)=(1, 1) already exists.
CONTEXT:  COPY film_actor, line 1
psql:Data/pagila-star.sql:28607: ERROR:  duplicate key value violates unique constraint "film_category_pkey"
DETAIL:  Key (film_id, category_id)=(1, 6) already exists.
CONTEXT:  COPY film_category, line 1
 setval
--------
   1000
(1 row)

psql:Data/pagila-star.sql:33203: ERROR:  duplicate key value violates unique constraint "inventory_pkey"
DETAIL:  Key (inventory_id)=(1) already exists.
CONTEXT:  COPY inventory, line 1
 setval
--------
   4581
(1 row)

psql:Data/pagila-star.sql:33224: ERROR:  duplicate key value violates unique constraint "language_pkey"
DETAIL:  Key (language_id)=(1) already exists.
CONTEXT:  COPY language, line 1
 setval
--------
      6
(1 row)

 setval
--------
  32098
(1 row)

psql:Data/pagila-star.sql:81396: ERROR:  duplicate key value violates unique constraint "rental_pkey"
DETAIL:  Key (rental_id)=(2) already exists.
CONTEXT:  COPY rental, line 1
 setval
--------
  16049
(1 row)

psql:Data/pagila-star.sql:81413: ERROR:  duplicate key value violates unique constraint "staff_pkey"
DETAIL:  Key (staff_id)=(1) already exists.
CONTEXT:  COPY staff, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:81430: ERROR:  duplicate key value violates unique constraint "store_pkey"
DETAIL:  Key (store_id)=(1) already exists.
CONTEXT:  COPY store, line 1
 setval
--------
      2
(1 row)

psql:Data/pagila-star.sql:81445: ERROR:  multiple primary keys for table "actor" are not allowed
psql:Data/pagila-star.sql:81453: ERROR:  multiple primary keys for table "address" are not allowed
psql:Data/pagila-star.sql:81461: ERROR:  multiple primary keys for table "category" are not allowed
psql:Data/pagila-star.sql:81469: ERROR:  multiple primary keys for table "city" are not allowed
psql:Data/pagila-star.sql:81477: ERROR:  multiple primary keys for table "country" are not allowed
psql:Data/pagila-star.sql:81485: ERROR:  multiple primary keys for table "customer" are not allowed
psql:Data/pagila-star.sql:81493: ERROR:  multiple primary keys for table "dimcustomer" are not allowed
psql:Data/pagila-star.sql:81501: ERROR:  multiple primary keys for table "dimdate" are not allowed
psql:Data/pagila-star.sql:81509: ERROR:  multiple primary keys for table "dimmovie" are not allowed
psql:Data/pagila-star.sql:81517: ERROR:  multiple primary keys for table "dimstore" are not allowed
psql:Data/pagila-star.sql:81525: ERROR:  multiple primary keys for table "factsales" are not allowed
psql:Data/pagila-star.sql:81533: ERROR:  multiple primary keys for table "film_actor" are not allowed
psql:Data/pagila-star.sql:81541: ERROR:  multiple primary keys for table "film_category" are not allowed
psql:Data/pagila-star.sql:81549: ERROR:  multiple primary keys for table "film" are not allowed
psql:Data/pagila-star.sql:81557: ERROR:  multiple primary keys for table "inventory" are not allowed
psql:Data/pagila-star.sql:81565: ERROR:  multiple primary keys for table "language" are not allowed
psql:Data/pagila-star.sql:81573: ERROR:  multiple primary keys for table "rental" are not allowed
psql:Data/pagila-star.sql:81581: ERROR:  multiple primary keys for table "staff" are not allowed
psql:Data/pagila-star.sql:81589: ERROR:  multiple primary keys for table "store" are not allowed
psql:Data/pagila-star.sql:81596: ERROR:  relation "film_fulltext_idx" already exists
psql:Data/pagila-star.sql:81603: ERROR:  relation "idx_actor_last_name" already exists
psql:Data/pagila-star.sql:81610: ERROR:  relation "idx_fk_address_id" already exists
psql:Data/pagila-star.sql:81617: ERROR:  relation "idx_fk_city_id" already exists
psql:Data/pagila-star.sql:81624: ERROR:  relation "idx_fk_country_id" already exists
psql:Data/pagila-star.sql:81631: ERROR:  relation "idx_fk_customer_id" already exists
psql:Data/pagila-star.sql:81638: ERROR:  relation "idx_fk_film_id" already exists
psql:Data/pagila-star.sql:81645: ERROR:  relation "idx_fk_inventory_id" already exists
psql:Data/pagila-star.sql:81652: ERROR:  relation "idx_fk_language_id" already exists
psql:Data/pagila-star.sql:81659: ERROR:  relation "idx_fk_original_language_id" already exists
psql:Data/pagila-star.sql:81666: ERROR:  relation "idx_fk_payment_customer_id" already exists
psql:Data/pagila-star.sql:81673: ERROR:  relation "idx_fk_payment_staff_id" already exists
psql:Data/pagila-star.sql:81680: ERROR:  relation "idx_fk_store_id" already exists
psql:Data/pagila-star.sql:81687: ERROR:  relation "idx_last_name" already exists
psql:Data/pagila-star.sql:81694: ERROR:  relation "idx_store_id_film_id" already exists
psql:Data/pagila-star.sql:81701: ERROR:  relation "idx_title" already exists
psql:Data/pagila-star.sql:81708: ERROR:  relation "idx_unq_manager_staff_id" already exists
psql:Data/pagila-star.sql:81715: ERROR:  relation "idx_unq_rental_rental_date_inventory_id_customer_id" already exists
psql:Data/pagila-star.sql:81722: ERROR:  trigger "film_fulltext_trigger" for relation "film" already exists
psql:Data/pagila-star.sql:81729: ERROR:  trigger "last_updated" for relation "actor" already exists
psql:Data/pagila-star.sql:81736: ERROR:  trigger "last_updated" for relation "address" already exists
psql:Data/pagila-star.sql:81743: ERROR:  trigger "last_updated" for relation "category" already exists
psql:Data/pagila-star.sql:81750: ERROR:  trigger "last_updated" for relation "city" already exists
psql:Data/pagila-star.sql:81757: ERROR:  trigger "last_updated" for relation "country" already exists
psql:Data/pagila-star.sql:81764: ERROR:  trigger "last_updated" for relation "customer" already exists
psql:Data/pagila-star.sql:81771: ERROR:  trigger "last_updated" for relation "film" already exists
psql:Data/pagila-star.sql:81778: ERROR:  trigger "last_updated" for relation "film_actor" already exists
psql:Data/pagila-star.sql:81785: ERROR:  trigger "last_updated" for relation "film_category" already exists
psql:Data/pagila-star.sql:81792: ERROR:  trigger "last_updated" for relation "inventory" already exists
psql:Data/pagila-star.sql:81799: ERROR:  trigger "last_updated" for relation "language" already exists
psql:Data/pagila-star.sql:81806: ERROR:  trigger "last_updated" for relation "rental" already exists
psql:Data/pagila-star.sql:81813: ERROR:  trigger "last_updated" for relation "staff" already exists
psql:Data/pagila-star.sql:81820: ERROR:  trigger "last_updated" for relation "store" already exists
psql:Data/pagila-star.sql:81828: ERROR:  constraint "address_city_id_fkey" for relation "address" already exists
psql:Data/pagila-star.sql:81836: ERROR:  constraint "city_country_id_fkey" for relation "city" already exists
psql:Data/pagila-star.sql:81844: ERROR:  constraint "customer_address_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:81852: ERROR:  constraint "customer_store_id_fkey" for relation "customer" already exists
psql:Data/pagila-star.sql:81860: ERROR:  constraint "factsales_customer_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:81868: ERROR:  constraint "factsales_date_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:81876: ERROR:  constraint "factsales_movie_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:81884: ERROR:  constraint "factsales_store_key_fkey" for relation "factsales" already exists
psql:Data/pagila-star.sql:81892: ERROR:  constraint "film_actor_actor_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:81900: ERROR:  constraint "film_actor_film_id_fkey" for relation "film_actor" already exists
psql:Data/pagila-star.sql:81908: ERROR:  constraint "film_category_category_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:81916: ERROR:  constraint "film_category_film_id_fkey" for relation "film_category" already exists
psql:Data/pagila-star.sql:81924: ERROR:  constraint "film_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:81932: ERROR:  constraint "film_original_language_id_fkey" for relation "film" already exists
psql:Data/pagila-star.sql:81940: ERROR:  constraint "inventory_film_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:81948: ERROR:  constraint "inventory_store_id_fkey" for relation "inventory" already exists
psql:Data/pagila-star.sql:81956: ERROR:  constraint "payment_customer_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:81964: ERROR:  constraint "payment_rental_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:81972: ERROR:  constraint "payment_staff_id_fkey" for relation "payment" already exists
psql:Data/pagila-star.sql:81980: ERROR:  constraint "rental_customer_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:81988: ERROR:  constraint "rental_inventory_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:81996: ERROR:  constraint "rental_staff_id_fkey" for relation "rental" already exists
psql:Data/pagila-star.sql:82004: ERROR:  constraint "staff_address_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:82012: ERROR:  constraint "staff_store_id_fkey" for relation "staff" already exists
psql:Data/pagila-star.sql:82020: ERROR:  constraint "store_address_id_fkey" for relation "store" already exists

### Connect to the local database where Pagila is loaded

In [2]:
import sql
%load_ext sql

DB_ENDPOINT = "127.0.0.1"
DB = 'pagila_star'
DB_USER = 'student'
DB_PASSWORD = 'student'
DB_PORT = '5432'

# postgresql://username:password@host:port/database
conn_string = "postgresql://{}:{}@{}:{}/{}" \
                        .format(DB_USER, DB_PASSWORD, DB_ENDPOINT, DB_PORT, DB)

print(conn_string)
%sql $conn_string

postgresql://student:student@127.0.0.1:5432/pagila_star

'Connected: student@pagila_star'

### Star Schema

<img src="pagila-star.png" width="50%"/>

# CUBE 
- Group by CUBE (dim1, dim2, ..) , produces all combinations of different lenghts in one go.
- This view could be materialized in a view and queried which would save lots repetitive aggregations

TODO: Write a query that calculates the various levels of aggregation done in the grouping sets exercise (total, by month, by country, by month & country) using the CUBE function. Your output should match the table below.

In [3]:
%%time
%%sql
SELECT dd.month, ds.country, SUM(fs.sales_amount) as revenue
FROM factSales fs
JOIN dimdate dd ON fs.date_key = dd.date_key
JOIN dimstore ds ON fs.store_key = ds.store_key
GROUP BY cube(dd.month, ds.country)

 * postgresql://student:***@127.0.0.1:5432/pagila_star
18 rows affected.
CPU times: user 489 µs, sys: 4.13 ms, total: 4.62 ms
Wall time: 33.9 ms

[(1, 'Australia', Decimal('2364.19')),
 (1, 'Canada', Decimal('2460.24')),
 (1, None, Decimal('4824.43')),
 (2, 'Australia', Decimal('4895.10')),
 (2, 'Canada', Decimal('4736.78')),
 (2, None, Decimal('9631.88')),
 (3, 'Australia', Decimal('12060.33')),
 (3, 'Canada', Decimal('11826.23')),
 (3, None, Decimal('23886.56')),
 (4, 'Australia', Decimal('14136.07')),
 (4, 'Canada', Decimal('14423.39')),
 (4, None, Decimal('28559.46')),
 (5, 'Australia', Decimal('271.08')),
 (5, 'Canada', Decimal('243.10')),
 (5, None, Decimal('514.18')),
 (None, None, Decimal('67416.51')),
 (None, 'Australia', Decimal('33726.77')),
 (None, 'Canada', Decimal('33689.74'))]

<div class="p-Widget jp-RenderedHTMLCommon jp-RenderedHTML jp-mod-trusted jp-OutputArea-output jp-OutputArea-executeResult" data-mime-type="text/html"><table>
    <tbody><tr>
        <th>month</th>
        <th>country</th>
        <th>revenue</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Australia</td>
        <td>2364.19</td>
    </tr>
    <tr>
        <td>1</td>
        <td>Canada</td>
        <td>2460.24</td>
    </tr>
    <tr>
        <td>1</td>
        <td>None</td>
        <td>4824.43</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Australia</td>
        <td>4895.10</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Canada</td>
        <td>4736.78</td>
    </tr>
    <tr>
        <td>2</td>
        <td>None</td>
        <td>9631.88</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Australia</td>
        <td>12060.33</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Canada</td>
        <td>11826.23</td>
    </tr>
    <tr>
        <td>3</td>
        <td>None</td>
        <td>23886.56</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Australia</td>
        <td>14136.07</td>
    </tr>
    <tr>
        <td>4</td>
        <td>Canada</td>
        <td>14423.39</td>
    </tr>
    <tr>
        <td>4</td>
        <td>None</td>
        <td>28559.46</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Australia</td>
        <td>271.08</td>
    </tr>
    <tr>
        <td>5</td>
        <td>Canada</td>
        <td>243.10</td>
    </tr>
    <tr>
        <td>5</td>
        <td>None</td>
        <td>514.18</td>
    </tr>
    <tr>
        <td>None</td>
        <td>None</td>
        <td>67416.51</td>
    </tr>
    <tr>
        <td>None</td>
        <td>Australia</td>
        <td>33726.77</td>
    </tr>
    <tr>
        <td>None</td>
        <td>Canada</td>
        <td>33689.74</td>
    </tr>
</tbody></table></div>

## Revenue Total, by Month, by Country, by Month & Country All in one shot, NAIVE way
The naive way to create the same table as above is to write several queries and UNION them together. Grouping sets and cubes produce queries that are shorter to write, easier to read, and more performant. Run the naive query below and compare the time it takes to run to the time it takes the cube query to run.

In [4]:
%%time
%%sql
SELECT  NULL as month, NULL as country, sum(sales_amount) as revenue
FROM factSales
    UNION all 
SELECT NULL, dimStore.country,sum(sales_amount) as revenue
FROM factSales
JOIN dimStore on (dimStore.store_key = factSales.store_key)
GROUP by  dimStore.country
    UNION all 
SELECT cast(dimDate.month as text) , NULL, sum(sales_amount) as revenue
FROM factSales
JOIN dimDate on (dimDate.date_key = factSales.date_key)
GROUP by dimDate.month
    UNION all
SELECT cast(dimDate.month as text),dimStore.country,sum(sales_amount) as revenue
FROM factSales
JOIN dimDate     on (dimDate.date_key         = factSales.date_key)
JOIN dimStore on (dimStore.store_key = factSales.store_key)
GROUP by (dimDate.month, dimStore.country)

 * postgresql://student:***@127.0.0.1:5432/pagila_star
18 rows affected.
CPU times: user 7.13 ms, sys: 568 µs, total: 7.7 ms
Wall time: 44.4 ms

[(None, None, Decimal('67416.51')),
 (None, 'Australia', Decimal('33726.77')),
 (None, 'Canada', Decimal('33689.74')),
 ('1', None, Decimal('4824.43')),
 ('3', None, Decimal('23886.56')),
 ('4', None, Decimal('28559.46')),
 ('2', None, Decimal('9631.88')),
 ('5', None, Decimal('514.18')),
 ('4', 'Canada', Decimal('14423.39')),
 ('3', 'Australia', Decimal('12060.33')),
 ('5', 'Canada', Decimal('243.10')),
 ('1', 'Australia', Decimal('2364.19')),
 ('2', 'Canada', Decimal('4736.78')),
 ('2', 'Australia', Decimal('4895.10')),
 ('1', 'Canada', Decimal('2460.24')),
 ('5', 'Australia', Decimal('271.08')),
 ('3', 'Canada', Decimal('11826.23')),
 ('4', 'Australia', Decimal('14136.07'))]